@import 'variables'; //importing the variables

body {
    @include bodyStyle;
}

header {
    @include headerStyle;

    nav {
        @include navStyle;
        
        .nav-other-screens {
            background-image: url('../Assets/projects-nav-bg.png');
            //border: 1px blue dashed;

            a {
                color: black;
            }
        }
    }

    .header-content {
        background-color: $yellow;

        h1 {
            margin: 0;

            span {
                color: $pink;
            }
        }

        p {
            width: 900px;
            margin: 0 auto;
        }
    }
}

/*=====Works Section=====*/
#works {
    .filter-dropdown {
        .filter-btn {
            width: 100%;
            text-align: left;
            padding: 5px 10px;
        }

        .filter-btn,
        div {
            background-color: black;
            color: white;
        }

        .dropdown-content {
            display: none;
            width: fit-content;

            div {
                padding: 5px 10px;
                border-top: 2px solid white;
                cursor: pointer;
            }
        }

        .show {
            display: block;
            position: absolute;
        }

        #dropdown1 {
            background-color: $pink;
        }

        #dropdown2 {
            background-color: $blue;
        }

        #dropdown3 {
            background-color: $yellow;
            color: black;
        }
    }

    .work {
        padding: 20px 0;
        display: flex;
        gap: 20px;
        overflow-x: auto;

        img {
            display: block;
            height: 400px;
        }

        button {
            padding: 7px 30px;
            border: 1px solid black;
            border-radius: 60px;
            background-color: white;
        }
    }

    #event,
    #print,
    #proddesign {
        display: none;
    }
}

/*=====Footer Section=====*/
footer {
    @include footerStyle
}