/*=====Fonts=====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); /*Poppins font*/
/*=====Style Variables=====*/
/*======Body Style=====*/
/*==========Header Style==========*/
/*======Nav Style=====*/
/*======Footer Style=====*/
/*======Back to top btn Style=====*/
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
body h1 {
  text-align: center;
  font-size: 64px;
  margin: 0;
}
body section {
  padding: 50px 100px;
}
body button {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border: none;
}

header {
  margin: 10px;
}
header .header-content {
  border-radius: 60px;
  padding: 80px;
  font-size: 30px;
  text-align: center;
}
header nav {
  /*hide mobile nav*/
}
header nav .nav-other-screens {
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
header nav .nav-other-screens a {
  color: white;
  text-decoration: none;
}
header nav .nav-other-screens div {
  display: flex;
  align-items: center;
  gap: 10px;
}
header nav .nav-other-screens .nav-logo-name {
  margin-right: auto;
}
header nav .nav-other-screens .nav-logo-name img {
  height: 70px;
  padding: 10px 0;
}
header nav .nav-other-screens .nav-logo-name p {
  line-height: 1;
}
header nav .nav-other-screens .nav-contact-us a {
  color: white;
}
header nav .nav-other-screens .nav-general {
  width: 50%;
  justify-content: space-evenly;
}
header nav .nav-other-screens .nav-contact-us {
  margin-left: auto;
}
header nav .nav-other-screens .nav-contact-us a {
  padding: 10px 15px 10px 30px;
  border-radius: 80px;
  background-color: #282828;
}
header nav .nav-other-screens .nav-contact-us a span {
  margin: 0 10px;
}
header nav .nav-mobile {
  display: none;
}
header nav .nav-other-screens {
  background-image: url("../Assets/projects-nav-bg.png");
}
header nav .nav-other-screens a {
  color: black;
}
header .header-content {
  background-color: #FFF200;
}
header .header-content h1 {
  margin: 0;
}
header .header-content h1 span {
  color: #EF018D;
}
header .header-content p {
  width: 900px;
  margin: 0 auto;
}

/*=====Works Section=====*/
#works .filter-dropdown .filter-btn {
  width: 100%;
  text-align: left;
  padding: 5px 10px;
}
#works .filter-dropdown .filter-btn,
#works .filter-dropdown div {
  background-color: black;
  color: white;
}
#works .filter-dropdown .dropdown-content {
  display: none;
  width: -moz-fit-content;
  width: fit-content;
}
#works .filter-dropdown .dropdown-content div {
  padding: 5px 10px;
  border-top: 2px solid white;
  cursor: pointer;
}
#works .filter-dropdown .show {
  display: block;
  position: absolute;
}
#works .filter-dropdown #dropdown1 {
  background-color: #EF018D;
}
#works .filter-dropdown #dropdown2 {
  background-color: #00aeef;
}
#works .filter-dropdown #dropdown3 {
  background-color: #FFF200;
  color: black;
}
#works .work {
  padding: 20px 0;
  display: flex;
  gap: 20px;
  overflow-x: auto;
}
#works .work img {
  display: block;
  height: 400px;
}
#works .work button {
  padding: 7px 30px;
  border: 1px solid black;
  border-radius: 60px;
  background-color: white;
}
#works #event,
#works #print,
#works #proddesign {
  display: none;
}

/*=====Footer Section=====*/
footer {
  background-color: black;
  color: white;
}
footer a {
  display: block;
  text-decoration: none;
  color: white;
}
footer .footer-flex {
  display: flex;
}
footer .footer-pink,
footer .footer-blue,
footer .footer-yellow {
  height: 30px;
  width: 100%;
}
footer .footer-pink {
  background-color: #EF018D;
}
footer .footer-blue {
  background-color: #00aeef;
}
footer .footer-yellow {
  background-color: #FFF200;
}
footer .footer-content {
  margin: 50px 100px;
  gap: 30px;
}
footer .footer-content .contact-details {
  width: 100%;
  justify-content: space-around;
  margin-top: 50px;
}
footer .footer-content .contact-details span {
  font-weight: 600;
  text-decoration: underline;
  text-transform: uppercase;
}
footer .footer-logo,
footer .copyright {
  text-align: center;
}
footer .copyright {
  margin: 0;
  padding: 20px;
}/*# sourceMappingURL=projects.css.map */